//META{"name":"Darker Sides","description":"A slightly darker Night Mode, focused on dimming the sides. Additional features being a repositioned typing notification that allows some more characters to fit, and less spacing between roles.","author":"Bosstrino","version":"1.1"}*//{}

/*Color edits*/
.guilds-wrapper{
    background:#09090a;
}

.guild-header header, .search-bar, .title-wrap, .friends-header, .header-1tSljs, .popout-menu-item{
 	background:#121215 !important;   
}

.treatment-1{
	background-color:#121215 !important;    
}

.private-channels, .scrollerWrap-2uBjct, .scroller-fzNley.channel-members{
 	background-color:#22242a;   
}

.container-iksrDt, .chat form{
    background-color:#121215 !important;
}

.typing{
 	background-color:rgba(0,0,0,0) !important;  
}

	/*Left Sidebar in settings*/
.sidebar-region{ 
	background-color:#101018 !important;  
}


/*Private call header edits*/
.container-3lnMWU{
 	background-color:#191A1F;
 	padding-bottom:4px;
 	margin-bottom:-1px
}


/*Shape and positioning edits*/

.guild-inner{
 	border-width:1px;
    border-style:solid;
    border-color:#363738;
}

.treatment-1{
	border-radius:0px 0px 10px 10px !important;    
}

.channel-members h2{
	height:5px;
}
	/*account*/
.container-iksrDt{ 
    padding-top:15px;
    padding-bottom:15px;
	margin-bottom:0px; /*Eliminates a line of mismatched color at the bottom.*/
}

.chat form{
    margin:0px;
    padding-right:10px;
    padding-left:10px;
    border-radius:0px 0px 0px 0px;
}

.channel-textarea{
 	margin-top:12px;
    margin-bottom:23px; 
}

.typing{
    padding-left:68px;
 	height:22px;
    position:fixed; /*Change to fixed for typing notification to appear at the bottom-left.*/
    font-size:13px;
}


.ellipsis{
 	margin-right:15px; 
    margin-left:25px;
    transform:scale(1.5,1.5);
}
