//META{"name":"Darker Sides","description":"A slightly darker Night Mode, focused on dimming the sides. Additional features being a repositioned typing notification, and less spacing between roles.","author":"Bosstrino","version":"1.0"}*//{}

/*Color edits*/
.guilds-wrapper{
    background:#09090a;
}

.guild-header header, .search-bar, .title-wrap, .friends-header,  .tab-bar-header{
 	background:#121215 !important;   
}

.treatment-1{
	background-color:#121215 !important;    
}

.guild-channels, .private-channels, .scroller.channel-members, .tab-bar.SIDE, .btn:after, .btn.btn-settings{
 	background-color:#22242a;   
}

.account, .chat form{
    background-color:#121215 !important;
}

.typing{
 	background-color:rgba(0,0,0,0) !important;  
}



/*Shape and positioning edits*/

.guild-inner{
 	border-width:1px;
    border-style:solid;
    border-color:#363738;
}

.treatment-1{
	border-radius:0px 0px 10px 10px !important;    
}

.channel-members h2{
	height:5px;
}

.account{
    padding-bottom:11px;
}

.chat form{
    margin:0px;
    padding-bottom:0px;
    padding-right:10px;
    padding-left:10px;
    border-radius:0px 0px 0px 0px;
}

.channel-textarea{
 	margin-top:12px;
    margin-bottom:23px; 
}

.typing{
    padding-left:68px;
 	height:22px;
    position:fixed; /*Change to fixed for typing notification to appear at the bottom-left.*/
    font-size:13px;
}


.ellipsis{
 	margin-right:15px; 
    margin-left:25px;
    transform:scale(1.5,1.5);
}
